@font-face {
	font-family: 'spotify';
	src: url('../../font/GothamBook.ttf');
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vw;
    max-height: 85vh;
    min-height: 1vh;
    position: relative;
}

#text {
    position: absolute;
    height: 35vw;
    margin: auto;
    color: #ebebeb;
    font-family: 'spotify';
    font-size: 4vw;
    font-weight: lighter;
    text-align: center;
}